html,body{
    margin:0;
    width:100%;
    height:100%;
}
p {
  font-weight: bold;
}
.panelDerecha{
	background-color: #5CA5BB;
	width: 50%;
	overflow: hidden;
}
.division{
	display: flex;
	height: 100%;
}
.panelIzq{
	background-color: gray;
	overflow: hidden;
	width: 50%;
}
.margen{
	height: 100%;
}