<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<title>Ejercicio 2</title>
	</head>

	<body>

		<div class="margen" id="vueApp" v-cloak>
			<div class="titulo" align="center">
				<img v-show="isNinja" @click="counter++" src="https://sso.unileon.es/themes/unileon-metronic/img/main-title.png" alt="Unileon.es">
			</div>
				 
			<h2 align="center">Ejercicio 2 de {{nombre}}</h2>
		
			<div class="division">
				<div class="panelDerecha"  id ="panelDerecha" v-bind:style="{ backgroundColor: colorPD}">
					<h3>Instrucciones ejercicio 1: </h3>
					<p>Debes replicar los este ejercicio en dos ficheros: </p>
					<ul>	
						<li><t>Fichero index.html con el codigo HTML necesario para replicar elmismo contenido.</t></li>
						<li><t>Fichero style.css con el codigo CSS necesario para dar estilo al ejercicio.</t></li>
					</ul>

					<p>Ademas debes cumplir los siguientes puntos: </p>
					
					<ul>
						<li><t>Utilizar Github classroom para depositar el codigo fuente</t></li>
						<li><t>Fichero style.css con el codigo CSS necesario para dar estilo al ejercicio.</t></li>
						<li><t>Modificar el encabezado del ejercicio con tu nombre</t></li>
						<li><t>La unica modificacion entre tu ejercicio y este es tu nombre (debes incluir tambien estas instrucciones, mantener colores y tamaños de letra).</t></li>
						<li v-model="fraseColoraux" :class="{colorFrase:fraseColoraux==true}"><t>{{fraseColor}}</t></li>
						<li><t>Numero de clicks: {{counter}}</t></li>
					</ul>
				
				</div>
			
				<div class="panelIzq" v-bind:style="{ backgroundColor: colorIZ}">
					<table border ="0">
						<tr>
							<td><h3>Formulario</h3></td>
						</tr>
						<tr>
							<td width="0%"><label for="fname" v-model="nombre">Nombre: </label></td>
							<td width="0%"><input type="text" id="fname" name="fname" v-model="nombre"> </td>

						<tr>
							<td width="0%"><label for="birthday">Fecha nacimiento:</label></td>
							<td width="0%"><input type="date" id="birthday" name="birthday" v-model="fecha"></td>
						</tr>

						<tr>
							<td width="0%"><label for="fedad">Edad:</label></td>
							<td width="0%"><input type="text" id="fedad" name="fedad" align="rigth" v-model="edad" readonly></td>
						</tr>

						<tr>
							<td width="0%"><label for="female">Sexo:</label></td>
							<td width="0%"><input type="radio" id="male" name="gender" value="male" v-model="picked"> 
							<label for="male">Hombre</label><br>
							<input type="radio" id="female" name="gender" value="female" v-model="picked">
							<label for="female">Mujer</label></td>
						</tr>

						<tr>
							<td width="0%"><label for="hmlConoce">Conoce HTML5:</label></td>
							<td width="0%"><input type="checkbox" id="vehicle1" value="HTML1" align="rigth" v-model="htmlCB"></td>
						</tr>
						<tr>
							<td width="0%"><label for="favcolor">Color favorito:</label></td>
							<td width="0%"><input type="color" id="favcolor" name="favcolor" value="#ff0000" v-model="colorB"></td>
						</tr>
						<tr>
							<td width="0%"><label for="favcolor">Foto</label></td>
							<td width="0%"><button type="button"@click="clickBotonChooseFiles()">Choose files</button>
							<t>No files chosen</t></td>
						</tr>
						<tr>
							<td width="0%"><button type="button" @click="clickBotonEnviar()">Enviar</button></td>
						</tr>
						<tr>
							<td>
								<blog-post
								v-for="post in posts"
								v-bind:key="post.id"
								v-bind:post="post"
								></blog-post>
							</td>
						</tr>
					</table>

				</div>
			</div>
		</div>
		
		<script src= "./jsFiles/app.js"></script>
	</body>
</html>