html,body{
    margin:0;
    width:100%;
    height:100%;
}
p {
  font-weight: bold;
}
.panelDerecha{
	width: 50%;
	overflow: hidden;
}
.division{
	display: flex;
	height: 100%;
}
.panelIzq{
	overflow: hidden;
	width: 50%;
}
.margen{
	height: 100%;
}
.fondoAzul{
    background-color: greenyellow;
}
.fondoRojo{
    background-color: rgb(226, 206, 93);
}
.colorFrase{
    color: red;
}
